<a href="https://colab.research.google.com/github/yuliethbernal03/MDigitales/blob/main/Clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*#for (variable) in (iterable): *#(Bloque codigo)
Algunos ejemplos de iterables en python son las listas, cadenas, diccionarios, tuplas, etc.
Â¿Como saber que iterable a la hora de programar? 

podemos darnos cuenta quees iterable usando laf funcion isinstance().

In [ ]:
from collections import iterable
lista = [1,2,3,4,5,6,7,8,9,0]
a = "Computador"
b = 14
print(isinstance(lista,Iterable))
print(isinstance(lista,Iterable))
print(isinstance(lista,Iterable))

para entender los iteradores, es importante conocer la funcion *iter()*,
esta funcion  puede ser llamada sobre un objeto que sea iterable, y nos devolvera un iterador.

Ejemplo:

In [ ]:
lista[1,2,3,4,5,6,7,8,9,0]
ref = iter(lista)
print(type(ref))

al imprimir es un iterador de la clase *list_iterador* hace referencia a la lista original y nos permite acceder a sus elementos y nos permite acceder a sus elementos con la funcion *next()*.

** Nota: ** cada vez que llamemos a next() sobre Ref, nos devuelve el siguiente elemento de la lista original.

si por ejemplo quiero acceder al elemento 7, tendremos que llamar 7 veces a next().

In [3]:
lista = [1,2,3,4,5,6,7,8,9,0]
ref = iter(lista)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

1
2
3
4

**Tener en cuenta**

Exsten otros iteradores para las diferentes clases:
1. str_iterador para cadenas.
2. list_iterador para listas.
3. set_iterador para conjuntos.
4. dict_keyiterador para diccionarios.

**For anidados**

---
Es posible aidar los for, es decir ingresar uno dentro del otro , como los vemos a continuacion.

In [7]:
#vamos a crear una lista de listas, lo cual conforma una especie de la matriz
#Recordemos que una matriz se compone de valores que se distribuyen en filas y columnas.

qa = [[1,2,3],[4,5,6],[7,8,9]]

for i in qa:
  print(i)

for i in qa:
  print(i)
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

si deseamos acceder a cada elemento individualmente, se procede a realizar un bucle de FOR anidado. es decir, un for se encarga de iterar columnas y el otro en filas.

In [12]:
#otra forma de utilizar solo el for, es la itertacion al reves. es decir se puede iterar la lista desde el ultimo al primer elemento

lista = [1,2,3,4,5,6,7,8,9,0]
for i in lista [:: - 1]:
  print(i)

0
9
8
7
6
5
4
3
2
1

In [10]:
lista = [1,2,3,4,5,6,7,8,9,0]
for i in lista [:: 2]:
  print(i)
print("--------")
a = "computador"
for i in a [:: 4]:
  print(i)

1
3
5
7
9
--------
c
u
o

In [16]:
#usando rangos
for i in range(20):
  print(i)

#el range( ) genera una secuencia de numeros desde 0 por defecto hasta el numero que se pasa como parametro menos 2

#estructura range(inicio, fin, salto)
#observemos un un truco con el range:

print(list(range(2,10,2))) #conversion de un rango en una lista

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
[2, 4, 6, 8]

**listas de comprension**

---
Estas nos permiten crear listas de de elemento con una sola linea de codigo 

un ejemplo: crear una lista de las  potencias a la 3 de los numeros impares de 0 a 9

In [22]:
tres = [i**3 for i in range(1,10,2)]
#1,3,5,7,9
print(tres)

tres =[]
for i in range(1,10,2):
  tres.append(i**3)
  print(i)

[1, 27, 125, 343, 729]
1
3
5
7
9

In [23]:
s  = [1 for i in range(10)]
print(s)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [24]:
lwa1 = [5,10,15,20,25,30]
lwa2 = [i/5 for i in lwa1]
print(lwa2)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [28]:
pera = "mamÃ  ama a ema"
pera2 = [i for i in pera if i == "a" ]
print(pera2)

print(len(pera2))

['a', 'a', 'a', 'a', 'a']
5