<a href="https://colab.research.google.com/github/yuliethbernal03/MDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

---

**Tipos**
1. Númericos.
2. Secuencias.
3. Mapeos.
4. Conjuntos usados para agrupar otros valores.


 **Ejemplos**

In [2]:
x=80
print(x)

80

**Tipos de datos**

---
**Enteros**
-Son los números que no tienen decimales.
-Pueden ser positivos o negativos
**Ejemplo**

In [3]:
a=int(3.98)
print(a)

3

**int** es par hacer alusión a números enteros.
**float** variable numerica que admite parte decimal.

In [4]:
b=float(8.12)
print(b)

8.12

**Tipo Cadena**

---
Las cadenas de texto son encerrados entre comillas ('simples' o "dobles"), y se pueden conformar de diferentes caracteres (Númericos, Albéticos, Especiales #%$/).
Tener en cuenta, las cadenas admiten óperadores como la duma y la resta.

In [1]:
val1="Luis"
print(val1)

val2="Hola mundo"
print(val2)

Luis
Hola mundo

In [ ]:
n="Aprender"
z="Python"
nz=n+" "+z
w="Aprender Python"
print(w)

q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

Aprender Python
3

**Tipo Booleano:**

---
Este tipo de variable solo tendra un valor Verdadero o Falso).
**valores muy usados en condiciones y bucles.**

In [ ]:
lola=False
print("El valor es verdadero: ",lola,", el cual es de tipo", type(lola))

El valor es verdadero:  False , el cual es de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. listas.
2. tuplas.
3. Diccionarios.

**Tipo de Conjuntos**
Son una colección de datos sin elementos que se repiten:

In [ ]:
fruit='pera','manzana','naranja'
colors='morado','blanco','azul'
print(fruit,colors)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo Listas**

---
Son listas las cuales almacenan vectores
**Nota**
Las listas siempre empiezan a nombrarsen dede el elemento (0), aparti de allí empieza el conteo
Ejemplo:

In [ ]:
ines=['1','uva','lila','zorro','celular','micro','botella','tetero','10']
print(ines)
fe=ines[0:6]
print(fe)

['1', 'uva', 'lila', 'zorro', 'celular', 'micro', 'botella', 'tetero', '10']
['1', 'uva', 'lila', 'zorro', 'celular', 'micro']

**Tipo Tuplas**

Tuplas anidadas: Agrupación(Tuplas),
Es una lista que no se puede modificar despues de su creación:

Ejemplo:

In [ ]:
tupla=23,28,'Hola'
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'Hola')
((23, 28, 'Hola'), (1, 2, 3, 4))

**Tipo Diccionarios**

---
Define los datos uno a uno entre un campo(ID- Identificador-Clave) y un valor:

In [ ]:
datos_b={
    "nombres":"Diana",
    "apellidos":"Perea",
    "cedula":"123456",
    "est_civil":"soltera",
    "lugar_nacimiento":"neiva",
    "fecha_nacimiento":"12/05/2021",
}
print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())
print("Fecha de Nacimiento de Diana:", datos_b['fecha_nacimiento'])

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Diana', 'Perea', '123456', 'soltera', 'neiva', '12/05/2021'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellidos', 'Perea'), ('cedula', '123456'), ('est_civil', 'soltera'), ('lugar_nacimiento', 'neiva'), ('fecha_nacimiento', '12/05/2021')])
Fecha de Nacimiento de Diana: 12/05/2021

**Ejemplo práctico(Caracteristicas de los carros)**

In [ ]:
carros_0={}
carros_0['tamaño']='grande'
carros_0['color']='negro'
carros_0['marca']='Renault'
carros_0['precio']='28'

carros_1={}
carros_1['tamaño']='pequeño'
carros_1['color']='azul'
carros_1['marca']='Toyota'
carros_1['precio']='70'
print(carros_0)
print(carros_1)

compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1

print("La compra total fue de:"+str(compratotal))
print("La compra toral fue de:"+str(compratotal))

{'tamaño': 'grande', 'color': 'negro', 'marca': 'Renault', 'precio': '28'}
{'tamaño': 'pequeño', 'color': 'azul', 'marca': 'Toyota', 'precio': '70'}
La compra total fue de:2870
La compra toral fue de:2870