<a href="https://colab.research.google.com/github/yuliethbernal03/MDigitales/blob/main/Taller3semana3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [36]:
import pandas as pd

In [37]:
# Escriba su código aquí
import os
print(os.getcwd())

/content

In [38]:
#Subir archivo
from google.colab import files
uploaded = files.upload()

Saving pokemon_data.csv to pokemon_data (3).csv

In [42]:
#Leer archivo
pk = pd.read_csv('pokemon_data.csv')

In [43]:
#Crear columna con nombre "INTERES" con valor False
df = pd.DataFrame (pk)
df['INTERES']=False
print(df)

       #                   Name   Type 1  ... Generation  Legendary  INTERES
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True    False

[800 rows x 13 columns]

In [44]:
#Llamar los pokemones legendarios de tipo fuego
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary']==True)]

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  INTERES
158  146    Moltres   Fire  Flying  ...     90           1       True    False
263  244      Entei   Fire     NaN  ...    100           2       True    False
270  250      Ho-oh   Fire  Flying  ...     90           2       True    False
542  485    Heatran   Fire   Steel  ...     77           4       True    False
799  721  Volcanion   Fire   Water  ...     70           6       True    False

[5 rows x 13 columns]

In [45]:
 #Cambiar los valor de False a True del la columna "INTERES" de los pokemones legendarios tipo fuego.
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary']==True), 'INTERES'] =True

In [46]:
#Lammar a los pokemones para visualizar los cambios
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary']==True)]

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  INTERES
158  146    Moltres   Fire  Flying  ...     90           1       True     True
263  244      Entei   Fire     NaN  ...    100           2       True     True
270  250      Ho-oh   Fire  Flying  ...     90           2       True     True
542  485    Heatran   Fire   Steel  ...     77           4       True     True
799  721  Volcanion   Fire   Water  ...     70           6       True     True

[5 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [52]:
# Escriba su código aquí
#Codigo para sacar promedio de la columna Attack agrupado por Tipo 1.
df_type= pk['Type 1'].unique()
df_type

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [58]:
#promedio de la columna Attack del elemnto Grass agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Grass', 'Attack'].mean()
print("Promedio de Grass: ",pro)

#promedio de la columna Attack del elemnto Fuego agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Fire', 'Attack'].mean()
print("Promedio de Fire: ",pro)

#promedio de la columna Attack del elemnto Water agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Water', 'Attack'].mean()
print("Promedio de Water: ",pro)

#promedio de la columna Attack del elemnto Bug agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Bug', 'Attack'].mean()
print("Promedio de Bug: ",pro)

#promedio de la columna Attack del elemnto Normal agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Normal', 'Attack'].mean()
print("Promedio de Normal: ",pro)

#promedio de la columna Attack del elemnto Poison agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Poison', 'Attack'].mean()
print("Promedio de Poison: ",pro)

#promedio de la columna Attack del elemnto Electric agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Electric', 'Attack'].mean()
print("Promedio de Electric: ",pro)

#promedio de la columna Attack del elemnto Ground agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Ground', 'Attack'].mean()
print("Promedio de Ground: ",pro)

#promedio de la columna Attack del elemnto Fairy agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Fairy', 'Attack'].mean()
print("Promedio de Fairy: ",pro)

#promedio de la columna Attack del elemnto Fighting agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Fighting', 'Attack'].mean()
print("Promedio de Fighting: ",pro)

#promedio de la columna Attack del elemnto Psychic agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Psychic', 'Attack'].mean()
print("Promedio de Psychic: ",pro)

#promedio de la columna Attack del elemnto Rock agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Rock', 'Attack'].mean()
print("Promedio de Rock: ",pro)

#promedio de la columna Attack del elemnto Ghost agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Ghost', 'Attack'].mean()
print("Promedio de Ghost: ",pro)

#promedio de la columna Attack del elemnto Ice agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Ice', 'Attack'].mean()
print("Promedio de Ice: ",pro)

#promedio de la columna Attack del elemnto Dragon agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Dragon', 'Attack'].mean()
print("Promedio de Dragon: ",pro)

#promedio de la columna Attack del elemnto Dark agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Dark', 'Attack'].mean()
print("Promedio de Dark: ",pro)

#promedio de la columna Attack del elemnto Steel agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Steel', 'Attack'].mean()
print("Promedio de Steel: ",pro)

#promedio de la columna Attack del elemnto Flying agrupado por Tipo 1
pro=df.loc[df['Type 1'] =='Flying', 'Attack'].mean()
print("Promedio de Flying: ",pro)

Promedio de Grass:  73.21428571428571
Promedio de Fire:  84.76923076923077
Promedio de Water:  74.15178571428571
Promedio de Bug:  70.97101449275362
Promedio de Normal:  73.46938775510205
Promedio de Poison:  74.67857142857143
Promedio de Electric:  69.0909090909091
Promedio de Ground:  95.75
Promedio de Fairy:  61.529411764705884
Promedio de Fighting:  96.77777777777777
Promedio de Psychic:  71.45614035087719
Promedio de Rock:  92.86363636363636
Promedio de Ghost:  73.78125
Promedio de Ice:  72.75
Promedio de Dragon:  112.125
Promedio de Dark:  88.38709677419355
Promedio de Steel:  92.70370370370371
Promedio de Flying:  78.75

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [59]:
# Escriba su código aquí
#Subir archivo
from google.colab import files
uploaded = files.upload()

Saving DUK.csv to DUK.csv

In [62]:
#leer archivo
duk = pd.read_csv('DUK.csv')

In [64]:
#Filtro de fechas
duk.loc[(duk['Date']>= '2015-01-01') &(duk['Date'] <= '2015-12-31')]

           Date       Open       High        Low      Close  Adj Close   Volume
110  2015-01-02  83.540001  84.230003  83.089996  84.050003  68.374176  2266200
111  2015-01-05  83.599998  83.910004  82.610001  82.839996  67.389832  3780400
112  2015-01-06  82.919998  84.790001  82.919998  84.199997  68.496178  5290900
113  2015-01-07  84.260002  84.889999  83.720001  84.470001  68.715836  2583500
114  2015-01-08  84.919998  85.279999  84.570000  84.809998  68.992432  2165100
..          ...        ...        ...        ...        ...        ...      ...
357  2015-12-24  72.000000  72.389999  71.900002  72.040001  61.949467  1018200
358  2015-12-28  71.750000  72.260002  71.599998  71.919998  61.846283  2351800
359  2015-12-29  72.279999  72.750000  72.169998  72.370003  62.233242  1943600
360  2015-12-30  72.370003  72.599998  72.120003  72.190002  62.078468  2062000
361  2015-12-31  72.139999  72.220001  70.739998  71.389999  61.390526  2999500

[252 rows x 7 columns]

In [66]:

print("promedio de Open del 2015: ",duk.loc[(duk['Date']>= '2015-01-01') &(duk['Date'] <= '2015-12-31'), 'Open'].mean())

promedio de Open del 2015:  74.8137697698413