<a href="https://colab.research.google.com/github/yuliethbernal03/MDigitales/blob/main/TrabajoClase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Realizar 2 ejercicios por cada **Tipo de dato** visto en clase.

**Tipo Enteros**
_____
**Int**

Suma de dos numeros

In [ ]:
n1 = int(input("Ingrese el primer numero: "))
n2 = int(input("Ingrese el segundo numero: "))
print("la suma es: ",n1 + n2)

Ingrese el primer numero: 2
Ingrese el segundo numero: 4
la suma es:  6

Multiplicacion de dos numeros

In [ ]:
n1 = int(input("Ingrese el primer numero: "))
n2 = int(input("Ingrese el segundo numero:"))
print("El resultado de la multiplicacion entre los dos numeros es: ",n1 * n2)

Ingrese el primer numero: 5
Ingrese el segundo numero:5
El resultado de la multiplicacion entre los dos numeros es:  25

**Float**

Calculo de la media de dos numeros

In [ ]:
n1 = float(input("Ingrese el primer numero:" )) 
n2 = float(input("Ingrese el segundo numero: "))
print("la media de lops dos numeros es: ",(n1 + n2) / 2)

Ingrese el primer numero:2.5
Ingrese el segundo numero: 2.8
la media de lops dos numeros es:  2.65

Calculo de indice de masa corporal

In [ ]:
peso = float(input("Ingrese su peso: "))
altura = float(input("Ingrese su altura: "))
indice = peso / altura * 2
print("Su indice de  masa corporal es: ",indice)

Ingrese su peso: 80.5
Ingrese su altura: 1.63
Su indice de  masa corporal es:  98.77300613496934

**Tipo Cadena**

Saludo

In [ ]:
var1 = "Hola"
var2 = input("Ingrese su nombre: ")
print(var1 +" "+ var2)

Ingrese su nombre: Yulieth
Hola Yulieth

Formas de escribir el nombre

In [ ]:
nombre = input("Ingrese su nombre: ")
print(nombre.lower())
print(nombre.upper())
print(nombre.title())

Ingrese su nombre: yUliEth bERnal
yulieth bernal
YULIETH BERNAL
Yulieth Bernal

**Tipo Booleano**

Operaciones

In [ ]:
6==6

True

In [1]:
1 == 1 and 2 == 1

False

**Tipo conjuntos**

Nombres y apellidos

In [ ]:
nombres = 'Juan','Pedro','Pilar','Ingrid'
apellidos = 'Gutierrez','Gonzalez','Campo','Jimenez'
print(nombres, apellidos)

Ciudades y departamentos

In [9]:
ciudades = 'Cali','Popayan'
departamentos = 'Valle del cauca','Cauca'
print(ciudades, departamentos)

('Cali', 'Popayan') ('Valle del cauca', 'Cauca')

**Tipo Listas**

Animales terrestre y acuaticos

In [14]:
terrestres = ['Perro','Gato','Conejo']
acuaticos = ['Pulpo','Tiburon','Tortuga']
num=terrestres[0:3]
print("Animales terrestres: ",num)
num1=acuaticos[1:3]
print("Animales acuaticos: ",num1)

Animales terrestres:  ['Perro', 'Gato', 'Conejo']
Animales acuaticos:  ['Tiburon', 'Tortuga']

Marcas

In [15]:
Marcas = ['Vogue','Luis Vuitoon','Nike']
num=Marcas[2:3]
print("Marcas: ",num)

Marcas:  ['Nike']

**Tipo tuplas**

fecha y nombre

In [19]:
fecha = (4, "Agosto",2021)
persona = 'Dejesus','Yulieth'
print(fecha," ",persona)

(4, 'Agosto', 2021)   ('Dejesus', 'Yulieth')

edad y nombre

In [20]:
edad = 18
nombre = 'Yulieth Bernal'
print(nombre, edad)

Yulieth Bernal 18

**Tipo diccionarios**

Mascota

In [21]:
mascota_0={}
mascota_0['nombre']='Tita'
mascota_0['color']='negro y amarillo'
mascota_0['edad']='12 años'
mascota_0['tipo']='perro'

mascota_1={}
mascota_1['nombre']='Simon'
mascota_1['color']='blanco y cafe'
mascota_1['edad']='2 años'
mascota_1['tipo']='perro'
print(mascota_0)
print(mascota_1)

{'nombre': 'Tita', 'color': 'negro y amarillo', 'edad': '12 años', 'tipo': 'perro'}
{'nombre': 'Simon', 'color': 'blanco y cafe', 'edad': '2 años', 'tipo': 'perro'}

casa

In [22]:
casa_0={}
casa_0['numero de puertas']='7'
casa_0['numero de ventanas']='5'
casa_0['color']='blanco'
casa_0['baños']='1'
casa_0['habitaciones']='5'

print(casa_0)

{'numero de puertas': '7', 'numero de ventanas': '5', 'color': 'blanco', 'baños': '1', 'habitaciones': '5'}