<a href="https://colab.research.google.com/github/yuliethbernal03/MDigitales/blob/main/Tarea2Clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Agregar 5 ejercicios mezclando todo lo visto en la clase de hoy**

Ejercicio 1

In [ ]:
n1 = float(input("Ingrese el primer numero: "))
n2 = float(input("Ingrese el segundo numero: "))
suma = n1 + n2
resta = n1 - n2
multiplicacion = n1 * n2
division_inexacta = n1 / n2
division_exacta = n1 // n2
print("Suma: ",suma)
print("Resta: ",resta)
print("multiplicacion: ",multiplicacion)
print("divisio inexacta",division_inexacta)
print("divisio exacta",division_exacta)

Ingrese el primer numero: 2
Ingrese el segundo numero: 6
Suma:  8.0
Resta:  -4.0
multiplicacion:  12.0
divisio inexacta 0.3333333333333333
divisio exacta 0.0

Ejercicio 2

In [5]:
x = 6
y = 8
print("Operadores aritmeticos")
print("x+y: ",x+y)
print("x-y: ",x-y)
print("x*y: ",x*y)
print("x/y: ",x/y)
print("x%y: ",x%y)
print("x**y:",x**y)
print("x//y:",x//y)

Operadores aritmeticos
x+y:  14
x-y:  -2
x*y:  48
x/y:  0.75
x%y:  6
x**y: 1679616
x//y: 0

Ejercicio 3

In [7]:
a = 1 
b = 5
c = 2
print("Operadores de comparacion")
print("a > b ?: ",a > b)
print("b >= c ?: ",b >= c)
print("b < a ?: ",b < a)
print("a <= c ?: ",a <= c)
print("b == a ?: ",b == a)
print("b != c ?:",b != c)

Operadores de comparacion
a > b ?:  False
b >= c ?:  True
b < a ?:  False
a <= c ?:  True
b == a ?:  False
b != c ?: True

Ejercicio 4

In [9]:
x = 5
y = 2
print("Operadores logicos")
print("False and False or True: ",False and False or True)
print("True or False and False: ",True or False and False)
print("1 and not 0 or 0 and not 1 or 0 and 1: ",1 and not 0 or 0 and not 1 or 0 and 1)

Operadores logicos
False and False or True:  True
True or False and False:  True
1 and not 0 or 0 and not 1 or 0 and 1:  True

Ejercicio 5

In [11]:
print("1 or 0 and not 1 or 0 and 1: ",1 or 0 and not 1 or 0 and 1)
print("5 and not 0 or 0 and not 8 or 0 and 1: ",5 and not 0 or 0 and not 1 or 0 and 1)

1 or 0 and not 1 or 0 and 1:  1
5 and not 0 or 0 and not 8 or 0 and 1:  True